<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdt.KDT_PJT.response.mapper.ResponseMapper">

    <!-- 등록 -->
    <insert id="insertResponse" parameterType="com.kdt.KDT_PJT.response.dto.RequestResponseDto"
            useGeneratedKeys="true" keyProperty="rspnsSn">
        INSERT INTO TB_RESPONSE
        (PARENT_TYPE, PARENT_SN, USER_SN, RSPNS_CN)
        VALUES
        (#{parentType}, #{parentSn}, #{userSn}, #{rspnsCn})
    </insert>

    <!-- 단건 조회 -->
    <select id="findResponseById" resultType="com.kdt.KDT_PJT.response.dto.ResponseResponseDto">
        SELECT R.RSPNS_SN,
        R.PARENT_TYPE,
        R.PARENT_SN,
        R.USER_SN,
        U.USER_NM,
        R.RSPNS_DT,
        R.RSPNS_CN
        FROM TB_RESPONSE R
        LEFT JOIN TB_USER U ON R.USER_SN = U.USER_SN
        WHERE R.RSPNS_SN = #{rspnsSn}
    </select>

    <!-- 부모 기준 리스트 조회 -->
    <select id="findResponsesByParent" resultType="com.kdt.KDT_PJT.response.dto.ResponseResponseDto">
        SELECT R.RSPNS_SN,
        R.PARENT_TYPE,
        R.PARENT_SN,
        R.USER_SN,
        U.USER_NM,
        R.RSPNS_DT,
        R.RSPNS_CN
        FROM TB_RESPONSE R
        LEFT JOIN TB_USER U ON R.USER_SN = U.USER_SN
        WHERE R.PARENT_SN = #{parentSn}
        AND R.PARENT_TYPE = #{parentType}
    </select>

</mapper>
