<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdt.mapper.interview">
    <insert id="insertApplyInterview" parameterType="com.kdt.KDT_PJT.cmmn.map.CmmnMap" useGeneratedKeys="true" keyProperty="itvSn">
        /*
          QueryID : com.kdt.mapper.interview.insertApplyInterview
          Description : 클라이언트의 면담 요청을 받아 TB_INTERVIEW에 insert
          작성자 : 김동식
          */
        INSERT INTO TB_INTERVIEW (
            ITV_APLCNT_SN,
            ITV_APLY_TTL, ITV_APLY_CN, COHORT_SN, FORM_UUID, ITV_PIC_AUTHRT, ITV_APLY_DT
        ) VALUES (
                     #{itvAplcntSn},
                     #{itvAplyTtl}, #{itvAplyCn}, #{cohortSn}, #{formUuid}, #{itvPicAuthrt}, #{itvAplyDt}
                 )
    </insert>

    <select id="getMyInterviewRequests" parameterType="com.kdt.KDT_PJT.cmmn.map.CmmnMap" resultType="com.kdt.KDT_PJT.cmmn.map.CmmnMap">
        /*
        QueryID : com.kdt.mapper.interview.getMyInterviewRequests
        Rule:
        - 대표(2): ITV_PIC_AUTHRT = 2
        - 직원(3): ITV_PIC_AUTHRT = 3
        - 강사(4): ITV_PIC_AUTHRT = 4
        - 공통: COHORT_SN = cohortSn  -> 여기 샵 괄호 이런거 쓰면 에러뜸 사용 ㄴㄴ
        */
        SELECT
        i.ITV_SN,
        i.COHORT_SN,
        i.ITV_APLY_TTL,
        i.ITV_APLY_CN,
        i.ITV_APLY_DT,
        i.ITV_PIC_AUTHRT,
        i.ITV_PIC_SN,
        i.ITV_APLCNT_SN,
        i.ITV_PRNMNT_DT,
        i.ITV_PLC,
        i.PIC_CAL_SN,
        i.APLCNT_CAL_SN
        FROM TB_INTERVIEW i
        WHERE i.COHORT_SN = #{cohortSn}
        AND i.ITV_PIC_AUTHRT = #{roleType}
        <!-- 방어적으로 roleType 허용 범위 체크를 SQL로도 하고 싶다면 아래 주석 해제
        AND #{roleType} IN (2,3,4)
        -->
        ORDER BY i.ITV_APLY_DT DESC
    </select>


</mapper>