.fixedBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 12px;
  background-color: var(--bg-color-gray3);
  position: fixed;
  right: 0;
}

.explainBox {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  gap: 16px;
}

.applyBtn {
  background-color: var(--bg-color-blue2);
  color: var(--font-color-white);
  height: 40px;
  width: 300px;
  border-radius: 40px;
}

.applyBtn:hover {
  background-color: var(--bg-color-blue1);
}

.applyBtn:active {
  background-color: var(--bg-color-blue3);
}

.can {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}