.sched {
  width: 440px;
  height: 410px;
  background-color:#626262;
  color: white;
  border-radius: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.schedDateBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedDate {
width: 380px;
height: 35px;
background-color: #fff;
border-radius: 4px;
padding: 6px 5px;
font-size: 14px;
}

.schedTitle {
  width: 370px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;           /* 기본 테두리 */
    border-radius: 4px;             /* 둥글게 */
    outline: none;                  /* 기본 아웃라인 제거 */
    font-size: 14px;
}

.schedTitle:focus {
  border: 1px solid #000;         /* 포커스 시 테두리 색상 */
  background-color: #fff;         /* 선택 사항: 포커스 시 배경 */
  color: #000;                    /* 선택 사항: 포커스 시 텍스트 색 */
}

.schedList {
  list-style-type: disc;
  padding-left: 24px;
  margin-top: 15px;
}

.schedList li {
  margin-bottom: 8px;
  color: #fff;
  font-size: 18px;
}