:root{
    --color-main-bg: #D9D9D9;
    --color-light-bg: #F6F6F6;
    --color-head-bg: #fff;
    --color-list-bg: #626262;
    --color-sec-bg: #FCFEFF;
    --color-checkin-title: #E1F1FF;
    --color-text-main: #222;
    --color-checkout-title: #FFE6DF;
    --color-secondary-bg: #ACACAC;
    --color-primary-bg: #08F;
    --color-checkin-btn: #62B6FF;
    --color-checkout-warning: #FFB5A0;
    --color-disable-bg: #EEEFF0;
    --color-text-nav: #565656;
    --color-text-sec: #333;
    --color-text-warning: #E9623A;
    --color-text-disable: #575757;
}