<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kdt.KDT_PJT.comment.mapper.CommentMapper">
    <insert id="insertComment" parameterType="com.kdt.KDT_PJT.comment.dto.CommentDto" useGeneratedKeys="true" keyProperty="cmntSn">
        INSERT INTO TB_COMMENT (
            POST_SN,
            CMNT_CN,
            CMNT_WRTR_SN,
            CMNT_FRST_WRT_DT,
            DEL_YN,
            PARENT_CMNT_SN
        )
        VALUES (
                   #{postSn},
                   #{cmntCn},
                   #{cmntWrtrSn},
                   #{cmntFrstWrtDt},
                   #{delYn},
                   #{parentCmntSn}
               )
    </insert>

<!--    <select id="findCommentsByPost" resultType="com.kdt.KDT_PJT.comment.dto.CommentDto">-->
<!--        WITH RECURSIVE comment_tree AS (-->
<!--            &#45;&#45; ① 최상위(부모) 댓글 조회-->
<!--            SELECT-->
<!--                C.CMNT_SN,-->
<!--                C.POST_SN,-->
<!--                C.CMNT_CN,-->
<!--                C.CMNT_WRTR_SN,-->
<!--                C.CMNT_FRST_WRT_DT,-->
<!--                C.CMNT_LAST_MDFCN_DT,-->
<!--                C.DEL_YN,-->
<!--                C.PARENT_CMNT_SN-->
<!--            FROM TB_COMMENT C-->
<!--            WHERE C.POST_SN = #{postSn}-->
<!--              AND C.PARENT_CMNT_SN IS NULL-->
<!--              AND C.DEL_YN = FALSE-->

<!--            UNION ALL-->

<!--            &#45;&#45; ② 자식(대댓글) 재귀적으로 조회-->
<!--            SELECT-->
<!--                c.CMNT_SN,-->
<!--                c.POST_SN,-->
<!--                c.CMNT_CN,-->
<!--                c.CMNT_WRTR_SN,-->
<!--                c.CMNT_FRST_WRT_DT,-->
<!--                c.CMNT_LAST_MDFCN_DT,-->
<!--                c.DEL_YN,-->
<!--                c.PARENT_CMNT_SN-->
<!--            FROM TB_COMMENT c-->
<!--                     INNER JOIN comment_tree ct-->
<!--                                ON c.PARENT_CMNT_SN = ct.CMNT_SN-->
<!--            WHERE c.DEL_YN = FALSE-->
<!--        )-->
<!--        SELECT-->
<!--            CMNT_SN,-->
<!--            POST_SN,-->
<!--            CMNT_CN,-->
<!--            CMNT_WRTR_SN,-->
<!--            CMNT_FRST_WRT_DT,-->
<!--            CMNT_LAST_MDFCN_DT,-->
<!--            DEL_YN,-->
<!--            PARENT_CMNT_SN-->
<!--        FROM comment_tree-->
<!--        ORDER BY-->
<!--            CASE WHEN PARENT_CMNT_SN IS NULL THEN CMNT_SN ELSE PARENT_CMNT_SN END ASC,-->
<!--            CMNT_SN ASC;-->
<!--    </select>-->

    <select id="findCommentsByPost" resultType="com.kdt.KDT_PJT.comment.dto.CommentDto">
        SELECT
            CMNT_SN,
            POST_SN,
            CMNT_CN,
            CMNT_WRTR_SN,
            CMNT_FRST_WRT_DT,
            CMNT_LAST_MDFCN_DT,
            DEL_YN,
            PARENT_CMNT_SN
        FROM TB_COMMENT
        WHERE POST_SN = #{postSn}
          AND DEL_YN = FALSE
        ORDER BY
            CASE WHEN PARENT_CMNT_SN IS NULL THEN CMNT_SN ELSE PARENT_CMNT_SN END,
            CMNT_SN
    </select>

    <!-- 댓글 단건 조회 -->
    <select id="findCommentById" resultType="com.kdt.KDT_PJT.comment.dto.CommentDto">
        SELECT
            CMNT_SN,
            POST_SN,
            CMNT_CN,
            CMNT_WRTR_SN,
            CMNT_FRST_WRT_DT,
            CMNT_LAST_MDFCN_DT,
            DEL_YN,
            PARENT_CMNT_SN
        FROM TB_COMMENT
        WHERE CMNT_SN = #{cmntSn}
    </select>

    <!-- 댓글 수정 -->
    <update id="updateComment" parameterType="com.kdt.KDT_PJT.comment.dto.CommentDto">
        UPDATE TB_COMMENT
        SET
            CMNT_CN = #{cmntCn},
            CMNT_LAST_MDFCN_DT = #{dto.cmntLastMdfcnDt}
        WHERE CMNT_SN = #{cmntSn}
          AND DEL_YN = FALSE
    </update>


    <!-- 댓글 삭제 (Soft Delete) -->
    <update id="softDeleteComment">
        UPDATE TB_COMMENT
        SET
            DEL_YN = TRUE,
            CMNT_LAST_MDFCN_DT = NOW(),
            LAST_MDFCN_USER_SN = #{userSn}
        WHERE CMNT_SN = #{cmntSn}
    </update>

    <!-- ✅ 특정 댓글의 자식(대댓글) 목록 조회 -->
    <select id="findRepliesByParent" parameterType="long" resultType="com.kdt.KDT_PJT.comment.dto.CommentDto">
        SELECT
            CMNT_SN,
            POST_SN,
            CMNT_CN,
            CMNT_WRTR_SN,
            CMNT_FRST_WRT_DT,
            CMNT_LAST_MDFCN_DT,
            DEL_YN,
            PARENT_CMNT_SN
        FROM TB_COMMENT
        WHERE PARENT_CMNT_SN = #{parentCmntSn}
          AND DEL_YN = FALSE
        ORDER BY CMNT_SN ASC
    </select>


</mapper>